* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
   background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.bookmarks-container {
    min-height: 100vh;
    display: flex;  
    padding: 20px;
}

.add-bookmark-button-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    flex-direction: column;
    margin: 20px;
    
}
.add-bookmark-button-container:hover {
    background-color: rgba(255, 255, 255, 0.3);

}
.item-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 30%;
    font-size: 30px;
}
.item-container:active {
    transform: scale(1.1);
}
.item-container i {
    pointer-events: none;
}
.add-bookmark-button-container h3 {
    position: relative;
    top: 10%;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.bookmark-item-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}
.close-bookmark-button-container {
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    opacity: 0;
    padding: 0px 20px 0px 30px;
}
.close-bookmark-button-container:active {
    transform: translateY(2px);
}
#bookmark-item {
    background: rgba(255, 255, 255, 0.7);
}

.bookmark-name {
    color: white;
    position: relative;
    top: 10%;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookmark-item-container:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.bookmark-item-container:hover .close-bookmark-button-container {
    opacity: 1;
}

.delete-bookmark {
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.form-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    width: 40vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    animation: opening-modal-animation 0.5s linear;
}

input {
    width: 60%;
    height: 10%;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    padding: 10px;
    outline: none;
    font-size: 20px;
    margin: 10px;
    color: black;
    font-family: 'Poppins', sans-serif;
}
input:focus {
    border-bottom: 2px solid rgb(98, 164, 251);
}


#submit-button {
    padding: 20px 55px;
    position: relative;
    top: 10%;
    cursor: pointer;    
    font-size: 20px;
    border: none;
    background: rgb(1, 118, 214);
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius:  10px;
    box-shadow: 1px 1px 9px black;
}
#submit-button:active {
    box-shadow: 2px 3px 10px black;
}

.form-visible {
    display: flex;
}
@keyframes opening-modal-animation {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.text-on-smaller-screen {
    display: none;
}

@media screen and (max-width: 700px) {
    .text-on-smaller-screen {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        padding:40px;
    }
    .text-on-smaller-screen h1 {
        text-align: center;
    }
}